/* add your CSS here */
body{

  width:350px;

  border-style:solid;
  border-width:1px;
  border-color:grey;
  margin:10px;
  box-shadow: 10px 10px rgba(0,0,0,.1);


}

.card{

  margin:10px;


}

img{


  width:300px;



}

.fact{

  font-style: italic;


}

span{

  font-weight: bold;


}


ul{

  list-style-type: none;
  margin:0;
  padding:5px;

}
